.barra {
    background-color: #0000ff;
    width: 100%;
    height: 100px;
    text-align: center;
}
.Mobile{
    font-size: 60px;
    color: white;
    text-align: center;
}
.Tablet {
    display: none;
}
.conteudo {
    width:100%;
    background-color:blueviolet
}
.botoes {
    width: 100%;
    height: 30px;
    background-color: rgb(81, 255, 0);
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.aba1 {
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: none;
}
.aba2 {
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: none;
}
.aba3 {
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: none;
}
.aba4 {
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: none;
}

@media (min-width: 800px) {
    .barra{
        height: 150px;
        background-color: tomato
    }
    .Mobile {
        display: none;

    }
    #tablet {
        display: inline;
        font-size: 30px;
        color: white;
        text-align: center;
    }
    #desktop {
        display: none;
    }
    .botoes {
        width: 24%;
        height: 30px;
        background-color: blue;
        color: white;
       }
    }
    @media (min-width: 1228px){
        .barra {
            height: 200px;
            background-color: rgb(85, 0, 255);
    }
        #tablet{
            display: none;
    }
        #desktop{
            display: inline;
            font-size: 70px;
            color: red;
    }

    }
    
    
